:root {
    --primaryColor:#3498db ; 
    --secundaryColor: #6edb6e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
footer {
    height: 60px;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 800;
}

main {
    height: 500px; 
    display: flex; 
    min-height: calc(100% - 120px);
}

aside {
    border: 1px solid gray;
    width: 240px;
    background-color: var(--secundaryColor);
}

article {
    flex: 1;
    display: flex;
    align-items: end;
    gap: 10px;
}

img {
    max-width: calc(calc(100% - 20px)/ 3);

}







































