* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-general {
    max-width: 980px;
    margin: auto;
}

h1{
    font-weight: bold;
    text-align: center;
}

.div-1 {
    position: relative;
}

.img-1 {
    display: block;
    align-items: flex-end;
}

.img-name{
    position: absolute;
    top: 90px;
    left: 20px;
    margin: 170px 0 0 60px;
}

.img-codigo {
    position: absolute;
    top: 10%;
    left: 40%;  
}

.div2-text {
    font-family: Arial;
    line-height: 24px;
    background: #7299FE;
    height: 280px;
    width: 960px;
    color: #fff;
    padding: 10px;
}

.h2-1 {
    text-align: center;
    color: #1D06A7;
    margin: 10px; 
}

.div2-text button {
    background-color: #D16FFF;
    width: 110px;
    height: 40px;
    border: #D16FFF;
    border-radius: 10px;
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.section-container {
    background-color: #9022FF;
    width: 960px;
    height: 424px;
    top: 949px;
    padding: 20px;
}

.section-container h2 {
    color: #26CC4B;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

.container-lenguajes {
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.card {
    margin: 40px 0 ;
}

.card h3 {
    margin-bottom: 20px;
}

.barra1 {
    background-color: #fff;
    width: 403px;
    height: 20px;
    border-radius: 10px;
}

.barra1 div {
    background-color: #57EFF9;
    width: 300px;
    height: 20px;
    border-radius: 10px;
}

.barra1 .interno1 {
    background-color: #57EFF9;
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

.barra1 .interno2 {
    background-color: #57EFF9;
    width: 350px;
    height: 20px;
    border-radius: 10px;
}

.barra1 .interno4 {
    background-color: #57EFF9;
    width: 90px;
    height: 20px;
    border-radius: 10px;
}


.barra1 .interno5 {
    background-color: #57EFF9;
    width: 280px;
    height: 20px;
    border-radius: 10px;
}

.barra1 .interno6 {
    background-color: #57EFF9;
    width: 180px;
    height: 20px;
    border-radius: 10px;
}


.section-portafolio {
    background-color: #FFD233;
    width: 960px;
    height: 424px;
}

.section-portafolio h2 {
    text-align: center;
    color: #00AD84;
    padding: 40px;
}

.container-img {
    width: 600px;
    margin: auto;
    margin-top: 40px;
}

.container-clientes {
    background-color: #3F4E62;
    width: 960px;
    height: 258px;
}

.container-clientes h2 {
    color: #ADFF28;
    text-align: center;
    padding: 30px;
}

.clientes-img {
 height: 150px;
 margin: 0 90px 0 ;
}



.section-formulario {
    background-color: #1687A0;
    width: 960px;
    height: 578px;
    padding: 40px;
}

.section-formulario h2 {
    height: 41px;
    color: #FF1B1B;
    text-align: center;
    font-weight: 800;
    font-family: Arial;
}

.container3 {
    display: flex;
    width: 720px;
    height: 160px;
    justify-content: space-around;
    margin: auto;
    gap: 20px;
}

.container3 input:nth-child(1) {
    margin-top: 25px;
    width: 353px;
    height: 60px;
}

.container3 input:nth-child(2) {
    margin-top: 25px;
    width: 353px;
    height: 60px;
}

.container3 input:nth-child(3) {
    margin-top: 25px;
    width: 353px;
    height: 60px;
}

.container3 input:nth-child(4) {
    margin-top: 25px;
    width: 353px;
    height: 60px;
}

.descripcion {
    width: 725px;
    height: 115px;
    margin: 36px 0 0 78px;
}


.section-formulario button {
    background-color: #233451;
    width: 167px;
    height: 56px;
    color: #fff;
    margin: 30px  396px;
}








































